/*
  Header comment for styles.css
 */

 hr {
  margin-bottom: 40px;
 }

a:visited {
  color: #a76e4d; /* Will change color */
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 30pt;
}

h3 {
  font-size: 24pt;
}

header {
  padding-bottom: 10px;
}

main {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

a, form input[type="submit"] {
  color: #D5B0AC;
  background-color: #DFF8EB;
  padding: 12pt;
  border-radius: 25pt;
  margin: 5px;
}

h1, h2, h3, h4 {
  font-family: "Freeman", sans-serif;
}

h2, h3, h4 {
  text-decoration: underline;
}

header, footer {
  background-color: #0D750D;
}

a, footer {
  font-size: 14pt;
}

a, footer, p, form label, form input[type="submit"]  {
  font-family: "Raleway", sans-serif;
}

nav, footer {
  height: 50px;
  font-size: 12pt;
  text-align: center;
}

header div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

header img {
  width: 20%;
  border: #D5B0AC 2px solid;
  margin: 5px;
}

section a {
  margin-bottom: 5px;
}

#best-sellers {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: scroll;
  width: 500px;
  margin-top: 10px;
}

#best-sellers div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #11a311;
  width: 100px;
  margin: 25px;
  padding: 10px;
}

#account-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

article {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
 }

#product-details {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  width: 500px;
 }

#create-user form > section, #log-in form > section {
  display: flex;
  justify-content: flex-end;
  padding: 3px;
}

.account {
  margin-left: 5px;
}

#product-overview {
  display: flex;
  flex-direction: column;
}

#feedback {
  border-top: 1px solid black;
  margin-top: 20px;
  padding-top: 20px;
}

#feedback form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#entry {
  max-height: 75px;
  max-width: 350px;
  margin: 20px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
