/*
  Joselyn Do (AB) & Keith Nguyen (AA)
  May 5th, 2024
  Section AA: Kevin Wu
  Section AB: Elias & Quinton

  This styles.css file provides the styling for the entire webpage. This file adds more details to
  the webpages' layouts and allows for a green, white, brown color scheme meant to represent
  something that is environmentally-friendly.
 */

hr {
  margin-bottom: 40px;
}

.nav-link:visited {
  color: #a76e4d;
}

h1 {
  font-size: 36pt;
  margin: 10px 5px 25px 5px;
}

h2 {
  font-size: 30pt;
}

h3 {
  font-size: 24pt;
}

body {
  background-color: antiquewhite;
}

header {
  background-image: url("img/leaves.png");
  padding-bottom: 10px;
}

main {
  min-height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.ad {
  padding-top: 75px;
  width: 300px;
}

.sidebar-left, .sidebar-right, .left-side-panel, .right-side-panel {
  padding: 100px;
  justify-content: center;
  min-width: 18%;
}

.sidebar-left, .left-side-panel {
  margin-top: -150px;
}

.sidebar-right, .right-side-panel {
  margin-top: -100px;
  margin-left: -60px;
}

details {
  font-size: 16pt;
}

summary {
  padding: 10px;
  text-align: left;
}

details button {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

details, details[open], summary {
  background-color: #11a311;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

nav {
  height: 50px;
}

form input[type="submit"], .nav-link {
  color: #A6866A;
  background-color: #DFF8EB;
  padding: 12pt;
  border-radius: 25pt;
  margin: 5px;
}

h1, h2, h3, h4 {
  font-family: "Freeman", sans-serif;
}

h2, h4 {
  text-decoration: underline;
}

header, footer {
  background-color: #0D750D;
}

footer, p, label, form input[type="submit"], .nav-link, details, .filter h2 {
  font-family: "Raleway", sans-serif;
}

nav, footer {
  font-size: 12pt;
  text-align: center;
}

header div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

header a {
  width: 35%;
  margin: 5px;
}

header a img {
  width: 100%;
}

main img {
  width: 23%;
  margin: 10px;
}

section a {
  margin-bottom: 5px;
}

#cart-page {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#cart-page h2 {
  margin-bottom: 0px;
}

#cart-page #toggle-layout-container {
  margin-bottom: 20px;
}

#cart section > section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#cart section > section div {
  width: 300px;
}

.cart {
  width: 7%;
}

#checkout, #clear {
  margin-top: 50px;
  height: 50px;
  width: 80px;
}

#products {
  max-width: 15%;
}

#best-sellers {
  background-color: #fadcb6;
  border: 5px solid #e7bc91;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 500px;
  margin-top: 0px;
  margin-bottom: 40px;
}

#best-sellers div {
  border-bottom: 2px solid #e7bc91;
  background-color: #fadcb6;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 175px;
  margin: 12px;
  padding: 10px;
}

#best-sellers > div h4 {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  height: 50px;
}

#best-sellers > div img:first-child {
  min-height: 150px;
  height: 150px;
  width: 150px;
}

#cart, #transactions {
  margin: auto;
  border: 5px solid #e7bc91;
  background-color: #fadcb6;
}

#cart-container img {
  width: 150px;
}

#cart-container .card {
  border-bottom: 2px solid #e7bc91;
}

#best-sellers > div img:nth-of-type(2) {
  width: 150px;
  height: 5%;
  /* clip-path: inset(0px 44px 0px 0px); Adjust to define the cropping region */
}

#account-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

article {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

#selected-product-view {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

#product-description {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

#product-description img {
  width: 300px;
  margin-top: 20px;
}

#product-description h2 {
  font-size: 32pt;
  margin: 0px;
}

#product-description button {
  margin-left: 20px;
}

#create-user, #log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-user form, #log-in form {
  text-align: center;
  align-items: center;
  width: 315px;
}

#create-user form > section, #log-in form > section {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 3px;
}

#log-in form > section {
  width: 90%;
}

#promo img {
  width: 90%;
  border: solid 2px #A6866A;
}

.account {
  margin-left: 5px;
}

#feedback {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#feedback h2 {
  margin: 5px;
}

#feedback h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#review-entry {
  min-height: 50px;
  min-width: 300px;
  max-height: 100px;
  max-width: 350px;
  margin: 20px;
}

#reviews-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reviews-section > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 450px;
  background-color: white;
  margin: 5px;
  padding: 10px;
  text-align: left;
}

#reviews-section > div > div {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid gray;
}

#home {
  color: black;
  height: 1000px;
  width: 500px;
  background-image: url("img/tree.png");
  background-size: 65%;
  background-color: rgba(255, 255, 255, 0.1);
  background-blend-mode: lighten;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
}

#welcome h2 {
  margin-bottom: -200px;
  margin-top: -130px;
  margin-left: 700px;
  padding-left: 200px;
}

#welcome img {
  width: 50%;
  margin-left: 620px;
  padding-left: 150px;
}

#about {
  background-image: url("/img/leaf-background.png");
  background-size: 120%;
  background-position: center;
}

#home p {
  width: 600px;
}

#bulk {
  width: 30px;
}

#clear-button {
  margin-right: 50px;
}

#products-view {
  width: 100%;
}

#toggle-layout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A6866A;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border: solid 2px #6a523d;
}

#toggle-layout-container > img {
  width: 70px;
  height: 70px;
}

#toggle-layout-container label img {
  width: 90px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.nav-link {
  font-size: 14pt;
}

.error {
  color: red;
}

.filter {
  background-color: #A6866A;
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.filter label {
  margin-top: 10px;
}

.filter h2 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 16pt;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#load, #confirm, .confirmed {
  margin-top: 20px;
}

.labelConfirmed {
  font-size: 20px;
  color: red;
  font-weight: bold;
}

.grid-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid-layout > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #11a311;
  background-color: #17c917;
  max-height: max-content;
  width: 210px;
  margin: 5px;
  padding: 10px 10px 20px 10px;
}

.grid-layout > div > img {
  height: 180px;
  width: 180px;
}

.grid-layout > div > p {
  margin: 0px;
}

.list-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.list-layout > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #11a311;
  height: 130px;
  width: 85%;
  margin: 5px;
  padding: 15px 90px 15px 10px;
}

.list-layout > div > img {
  height: 120px;
  width: 120px;
}

.list-layout > div > p {
  margin: 10px;
  font-size: 14pt;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}